#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.CallType {
  display: block;
  width: 100px; height: 25px;
  padding-left: 20px;
}

.cellRow { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 1fr; 
  grid-column-gap: 3px;
  grid-row-gap: 0px; 
  }
  .div1 { grid-area: 1 / 1 / 2 / 2; } 
  .div2 { grid-area: 1 / 2 / 2 / 3; } 
  .div3 { grid-area: 1 / 3 / 2 / 4; }

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 20px;
}

.cellContainer {
  align-items: center;
}

#primaryInfo, #secondaryInfo {
  text-align: center;
}

#secondayInfo {
  text-align: center;
}

ul {
  padding-bottom: 10px;
}

li {
  list-style: none;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.30);
  margin-bottom: 15px;
  margin-top: 10px;
}

.archiveAllContainer {
  width: auto;
  height: 35px;
}

.archiveAll {
  background:rgb(40, 107, 9);
  color: white;
  font-size: 20px;
  padding: 0px 0px;
  border-radius: 5px;
  height: auto;
  width: 10em;
  cursor: pointer;
}

.singleArchive {
  background: rgba(114, 231, 114, 1);
  color: black;
  font-size: 10px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.primaryInfo {
  color: red;
}

.secondaryInfo {
  color:rgba(0, 0, 0, 0.5);
}
